<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coding404.myweb.product.ProductMapper">
	
	<!-- 테이블 명은 대문자(mysql은 대소문자 가림) -->
	<insert id="regist">
		insert into PRODUCT(
							prod_enddate,
							prod_category,
							prod_writer,
							prod_name,
							prod_price,
							prod_count,
							prod_discount,
							prod_purchase_yn,
							prod_content,
							prod_comment
							)
		values(#{prod_enddate},
			   #{prod_category},
			   #{prod_writer},
			   #{prod_name},
			   #{prod_price},
			   #{prod_count},
			   #{prod_discount},
			   #{prod_purchase_yn},
			   #{prod_content},
			   #{prod_comment}
			   )
									
	</insert>
	
	<!-- 예시사용자 admin으로 사용 -->
	<select id="getList" resultType="ProductVO">
		<!-- 
		select * from PRODUCT
		where prod_writer = 'admin'
		order by prod_id desc
		 -->
		
		<![CDATA[
		SELECT *
		FROM(SELECT A.*,
					@ROWNUM := @ROWNUM + 1 AS RN
			 FROM(SELECT *
				  FROM PRODUCT
				  WHERE PROD_WRITER = 'admin'
		]]>
				  <if test="startDate != '' and startDate != null">
				  <![CDATA[
				  AND DATE_FORMAT(PROD_ENDDATE, '%Y-%m-%d') > DATE_FORMAT(#{startDate}, '%Y-%m-%d')
				  ]]>
				  </if>
				  
				  <if test="endDate != '' and endDate != null">
				  <![CDATA[
		          AND DATE_FORMAT(PROD_ENDDATE, '%Y-%m-%d') <= DATE_FORMAT(#{endDate}, '%Y-%m-%d')
				  ]]>
				  </if>
				  
				  <if test="searchName != '' and searchName != null ">
		          AND PROD_NAME LIKE CONCAT('%', #{searchName}, '%')
				  </if>
				  
				  <if test="searchContent != '' and searchContent != null ">
		          AND PROD_CONTENT LIKE CONCAT('%', #{searchContent}, '%')
				  </if>
		          
		 		  ORDER BY 
		          <if test="searchPrice == 'desc' ">
		 		  PROD_PRICE DESC, 
		          </if>
		          <if test="searchPrice == 'asc' ">
		          PROD_PRICE ASC,
		          </if>
		 		  PROD_ID DESC) A, (SELECT @ROWNUM := 0) D
		
		<![CDATA[
		) B 
		WHERE RN > (#{page}-1) * #{amount} AND RN <= #{page} * #{amount}
		]]>
		
	</select>
	
	<select id="getTotal" resultType="int">
		SELECT COUNT(*) AS TOTAL
		FROM PRODUCT
		WHERE prod_writer = "admin"
		<if test="startDate != '' and startDate != null">
		<![CDATA[
		AND DATE_FORMAT(PROD_ENDDATE, '%Y-%m-%d') > DATE_FORMAT(#{startDate}, '%Y-%m-%d')
		]]>
		</if>
				  
		<if test="endDate != '' and endDate != null">
		<![CDATA[
		AND DATE_FORMAT(PROD_ENDDATE, '%Y-%m-%d') <= DATE_FORMAT(#{endDate}, '%Y-%m-%d')
		]]>
		</if>
				  
		<if test="searchName != '' and searchName != null ">
		AND PROD_NAME LIKE CONCAT('%', #{searchName}, '%')
		</if>
				  
		<if test="searchContent != '' and searchContent != null ">
		AND PROD_CONTENT LIKE CONCAT('%', #{searchContent}, '%')
		</if>  
	</select>
	
	<select id="getDetail" resultType="ProductVO">
		select * from PRODUCT
		where prod_id = #{prod_id}
	</select>
	
	<update id="update">
		update PRODUCT
		set prod_enddate = #{prod_enddate},
			prod_name = #{prod_name},
			prod_price = #{prod_price},
			prod_count = #{prod_count},
			prod_discount = #{prod_discount},
			prod_purchase_yn = #{prod_purchase_yn},
			prod_content = #{prod_content},	
			prod_comment = #{prod_comment}
		where prod_id = #{prod_id}	
	</update>
	
	<delete id="delete">
		delete from PRODUCT
		where prod_id = #{prod_id}
	</delete>
	
	<!-- 첫번째 카테고리 ajax방식 -->
	<select id="getCategory" resultType="CategoryVO">
		SELECT * FROM PRODUCT_CATEGORY WHERE CATEGORY_LV = 1
	</select>
	
	

</mapper>